langchain
langchain-ollama
langchain_experimental
langchain_community
langgraph
pydantic
pydantic-settings
langgraph-checkpoint-postgres
IPython
black 
isort
gradio
llama-index
llama-index-graph-stores-neo4j
llama-index-vector-stores-milvus
llama-index-storage-docstore-redis
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
llama-index-llms-langchain
pymupdf